*.exe
build
*.log
.tag*
*.sdf
SmartCarsSequentiell/.vs/SmartCarsSequentiell/v14/.suo
SmartCarsSequentiell/SmartCarsSequentiell.VC.db
SmartCarsSequentiell/SmartCarsSequentiell/Debug/**
SmartCarsSequentiell/SmartCarsSequentiell/x64/**
SmartCarsSequentiell/Debug/**
SmartCarsSequentiell/x64/**