*.exe
build
*.log
.tag*
*.sdf
Implementierung/SmartCarsSequentiell/.vs/
Implementierung/SmartCarsSequentiell/SmartCarsSequentiell.VC.opendb
Implementierung/SmartCarsSequentiell/SmartCarsSequentiell.VC.VC.opendb
Implementierung/SmartCarsSequentiell/SmartCarsSequentiell.VC.db
Implementierung/SmartCarsSequentiell/SmartCarsSequentiell/
Implementierung/SmartCarsSequentiell/enc_temp_folder/
Implementierung/SmartCarsSequentiell/Debug/**
Implementierung/SmartCarsSequentiell/x64/