*.exe
build
*.log
.tag*
*.sdf
Implementierung/SmartCarsSequentiell/.vs/
Implementierung/SmartCarsSequentiell/SmartCarsSequentiell.VC.opendb
Implementierung/SmartCarsSequentiell/SmartCarsSequentiell.VC.VC.opendb
Implementierung/SmartCarsSequentiell/SmartCarsSequentiell.VC.db
Implementierung/SmartCarsSequentiell/SmartCarsSequentiell/
Implementierung/SmartCarsSequentiell/enc_temp_folder/
Implementierung/SmartCarsSequentiell/SmartCarsSequentiell/SmartCarsSequentiell.vcxproj
Implementierung/SmartCarsSequentiell/SmartCarsSequentiell/SmartCarsSequentiell.vcxproj.filters
Implementierung/SmartCarsSequentiell/Debug/**
Implementierung/SmartCarsSequentiell/x64/
Implementierung/Visualisation/visOfSteps/
Implementierung/SmartCarsParallel/SmartCarsParallel.VC.opendb
Implementierung/SmartCarsParallel/SmartCarsParallel.VC.VC.opendb
Implementierung/SmartCarsParallel/SmartCarsParallel.VC.db
Implementierung/SmartCarsParallel/SmartCarsParallel/SmartCarsParallel.vcxproj.filters
Implementierung/SmartCarsParallel/Debug/**
Implementierung/SmartCarsParallel/x64/
Implementierung/Output/
Implementierung/SmartCarsParallel/SmartCarsParallel/Debug/
Implementierung/SmartCarsParallel/SmartCarsParallel/x64/Debug/

